<div class="logo" id="container">
  <div class="logos char">
    <div class="logo-icon">
      <img src="assets/img/icon1.png" alt="">
    </div>
    <div class="logo-text">
      <img src="assets/img/logo_text.png" alt="">
    </div>
  </div>
  <div class="char float-right">
    <img class="dots" src="assets/img/3dots.png" alt="">
  </div>
</div>

<mat-nav-list>
  <mat-list-item [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a><mat-icon>
        <img src="assets/menu/company_i.png" alt="">
      </mat-icon>
      My company</a>
  </mat-list-item>
  <mat-list-item [routerLink]="['/projects']" [routerLinkActive]="['active']">
    <a><mat-icon>
      <img src="assets/menu/projects_i.png" alt="">
    </mat-icon>
      Projects</a>
  </mat-list-item>
  <mat-list-item [routerLink]="['/home3']" [routerLinkActive]="['active']">
    <a><mat-icon>
      <img src="assets/menu/data_i.png" alt="">
    </mat-icon>
      WTG Database</a>
  </mat-list-item>
  <mat-list-item [routerLink]="['/home4']" [routerLinkActive]="['active']">
    <a><mat-icon>
      <img src="assets/menu/bop_data_i.png" alt="">
    </mat-icon>
      BOP Database</a>
  </mat-list-item>
  <mat-list-item [routerLink]="['/home4']" [routerLinkActive]="['active']">
    <a><mat-icon>
      <img src="assets/menu/team_i.png" alt="">
    </mat-icon>
      Project Team</a>
  </mat-list-item>
</mat-nav-list>










