.logo {
  height: 60px;
  border-bottom: 1px solid #EBEFF2;
}

#container {
  display: flex;
}

.float-right {
  margin-left: auto;
}

.logos {
  display: flex;
}

.logo-icon {
  margin-top: 17px;
}

.logo-text {
  margin-top: 27px;
}

.dots{
  margin-top: 29px;
  margin-right: 20px;
}

.mat-list-item.active{
  color: #2D6CCA;
}






